<!-- Required meta tags-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Dashboard for ColorNowApp">
<meta name="author" content="Ndriqim Haxhaj">
<meta name="keywords" content="Color Now App">

<!-- Title Page-->
<title><%= title %></title>

<!-- Fontfaces CSS-->
<link href="../static/css/font-face.css" rel="stylesheet" media="all">
<link href="../static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="../static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
<link href="../static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

<!-- Bootstrap CSS-->
<link href="../static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

<!-- Vendor CSS-->
<link href="../static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
<link href="../static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
<link href="../static/vendor/wow/animate.css" rel="stylesheet" media="all">
<link href="../static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
<link href="../static/vendor/slick/slick.css" rel="stylesheet" media="all">
<link href="../static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="../static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="../static/css/theme.css" rel="stylesheet" media="all">