<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('partials/header.ejs', {title: "Color Now App | Home"}); %>
    </head>
    <body class="animsition">
        <div class="page-wrapper">
            <%- include('partials/navbar.ejs'); %>

            <!-- PAGE CONTAINER-->
            <div class="page-container">

                <!-- MAIN CONTENT-->
                <div class="main-content">

                    <div class="section__content section__content--p30">
                        <div class="container-fluid">
                            <h2>You have <%=items%> drawings</h2><br>
                            <div class="row">
                                <% images.forEach(function(imageName){ %>
                                <%- include('partials/photo', {imageName: imageName}) %>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END MAIN CONTENT-->

            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <%- include('partials/pre_footer.ejs'); %>
    </body>
</html>