<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/header.ejs'); %>
    </head>

    <body class="animsition">
        <div class="page-wrapper">
            <div class="page-content--bge5">
                <div class="container">
                    <div class="login-wrap">
                        <div class="login-content">
                            <div class="login-logo">
                                <a href="#">
                                    <img src="images/icon/logo.png" alt="CoolAdmin">
                                </a>
                            </div>
                            <div class="login-form">
                                <form action="/login" method="post">
                                    <div class="form-group">
                                        <label>Email Address</label>
                                        <input class="au-input au-input--full" type="text" name="username" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                                    </div>
                                    <!--<div class="login-checkbox">-->
                                        <!--<label>-->
                                            <!--<input type="checkbox" name="remember">Remember Me-->
                                        <!--</label>-->
                                        <!--<label>-->
                                            <!--<a href="#">Forgotten Password?</a>-->
                                        <!--</label>-->
                                    <!--</div>-->
                                    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <%- include('partials/pre_footer.ejs'); %>
    </body>
</html>