<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs', {title: "Color Now App | Home"}); %>
</head>
<body class="animsition">
<div class="page-wrapper">
    <%- include('partials/navbar.ejs'); %>

    <!-- PAGE CONTAINER-->
    <div class="page-container">

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="col-md-6 col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Upload</strong> Form
                            </div>
                            <div class="card-body card-block">
                                <form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data" class="form-horizontal">

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="file-input" class=" form-control-label">File input</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <input type="file" name="svgFile" />
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-info" type="submit">Upload</button>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->

    </div>
    <!-- END PAGE CONTAINER-->
</div>
<%- include('partials/pre_footer.ejs'); %>
</body>
</html>